.px-5 {
  padding-left: 250px !important;
  padding-right: 250px !important;
}
.mx-3 {
  margin-left: 150px !important;
  margin-right: 150px !important;
}
.my-2 {
  margin-top: 50px !important;
  margin-bottom: 50px !important;
}